@import "tailwindcss";

:root {
  --ck-content-font-family: "Lato";
}

.main-container {
  font-family: var(--ck-content-font-family);
  width: fit-content;
  /* margin-left: auto;
	margin-right: auto; */
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}

/* .editor-container_include-block-toolbar {
	margin-left: 42px;
} */

.editor-container__sidebar_ckeditor-ai:has(.ck-tabs.ck-hidden) {
  max-width: 0;
  min-width: 0;
}

.ck-content h3.category {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  color: #555;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
}

.ck-content h2.document-title {
  font-family: "Oswald";
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
}

.ck-content h3.document-subtitle {
  font-family: "Oswald";
  font-size: 20px;
  color: #555;
  margin: 0 0 1em;
  font-weight: bold;
  padding: 0;
}

.ck-content p.info-box {
  --background-size: 30px;
  --background-color: #e91e63;
  padding: 1.2em 2em;
  border: 1px solid var(--background-color);
  background:
    linear-gradient(
      135deg,
      var(--background-color) 0%,
      var(--background-color) var(--background-size),
      transparent var(--background-size)
    ),
    linear-gradient(
      135deg,
      transparent calc(100% - var(--background-size)),
      var(--background-color) calc(100% - var(--background-size)),
      var(--background-color)
    );
  border-radius: 10px;
  margin: 1.5em 2em;
  box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content span.marker {
  background: yellow;
}

.ck-content span.spoiler {
  background: #000;
  color: #000;
}

.ck-content span.spoiler:hover {
  background: #000;
  color: #fff;
}

.ck-content .button {
  display: inline-block;
  width: 260px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 12px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.ck-content .button--green {
  background-color: #406b1e;
}

.ck-content .button--black {
  background-color: #141517;
}

/* Responsive Toastify Container Styles */
.Toastify__toast-container {
  padding: 1rem;
  width: auto;
  max-width: calc(100% - 2rem);
}

@media (max-width: 640px) {
  .Toastify__toast-container {
    left: 0.5rem !important;
    right: 0.5rem !important;
    max-width: calc(100% - 1rem) !important;
    width: auto !important;
    padding: 0.5rem;
  }

  .Toastify__toast {
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
